body {
    background-color: aqua;
    text-align: center;
    border: 5px solid tomato;
    border-radius: 10px;
}

header {
    background-color: blueviolet;
}

main {
    background-color: hsl(83, 88%, 55%);
}

footer {
    background-color: hwb(121 4% 18%);
}

.rose {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
}

.box {
    width: 300px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
    font-size: 80px;
}

#box1 {
    background-color: white;
    border-radius: 10px;
}

#box2 {
    background-color: rgb(209, 87, 87);
    border-radius: 10px;
}

#box3 {
    background-color: rgb(214, 211, 18);
    border-radius: 10px;
}

#box4 {
    background-color: rgb(188, 8, 8);
    border-radius: 10px;
}

#box5 {
    background-color: rgb(13, 12, 12);
    border-radius: 10px;
}

button {
    padding: 10px 10px 10px 10px;
}

@media screen and (max-width: 768px) {
  img {
    max-width: 100%; /* Ensure image doesn't exceed container width */
  }
}

/* Further adjust for very small screens (e.g., phones in portrait) */
@media screen and (max-width: 480px) {
  img {
    max-width: 60%; /* Optionally reduce size on very small screens */
  }
}
